.welcome-item {
  margin-top: 2rem;
  display: flex;
  position: relative;
}

.welcome-item .details {
  flex: 1;
  margin-left: 1rem;
}

.welcome-item i {
  display: flex;
  place-items: center;
  place-content: center;
  width: 32px;
  height: 32px;
  color: var(--color-text);
}

.welcome-item h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
  color: var(--color-heading);
}

@media (min-width: 1024px) {
  .welcome-item {
    margin-top: 0;
    padding: 0.4rem 0 1rem calc(var(--section-gap) / 2);
  }

  .welcome-item i {
    top: calc(50% - 25px);
    left: -26px;
    position: absolute;
    border: 1px solid var(--color-border);
    background: var(--color-background);
    border-radius: 8px;
    width: 50px;
    height: 50px;
  }

  .welcome-item:before {
    content: ' ';
    border-left: 1px solid var(--color-border);
    position: absolute;
    left: 0;
    bottom: calc(50% + 25px);
    height: calc(50% - 25px);
  }

  .welcome-item:after {
    content: ' ';
    border-left: 1px solid var(--color-border);
    position: absolute;
    left: 0;
    top: calc(50% + 25px);
    height: calc(50% - 25px);
  }

  .welcome-item:first-of-type:before {
    display: none;
  }

  .welcome-item:last-of-type:after {
    display: none;
  }
}

.link-button {
  border: none;
  background: none;
  padding: 0;
  color: hsla(160, 100%, 37%, 1);
  cursor: pointer;
  font: inherit;
}
